@charset "utf-8";
/* CSS Document */
body {
padding:0;
margin:0;	
}

#cloud {
  position:absolute;
  top:450px;
 //left:750px;
  left:10px;
  background:white;
  opacity:0.6;
  border-radius:10px;
}

#titlebox {
  position:absolute;
  top:15px;
  left:20px;
  font-family: Arial, Helvetica, sans-serif;
  color: #666;
  line-height:150%;
  max-width:700px;
  font-size: 13px;
}

.eventimage {
max-width: 300px;
max-height: 250px;	
}

#mapdiv {
position: relative;
float:left;	
min-width: 1280px;
width: 100%;
//height: 600px;
background-color:#ddd;	
}

#piediv {
position: absolute;
top:80px;
left:720px;
//right:0px;
//aafloat:left;	
width: 280px;
//height:700px;
aabackground-color: #eee;
}


#pieform {
position: relative;
left: -30px;	
}

#pie1div {
width:100%;
min-height: 200px;	
padding:10px;
opacity:0.7;
}

#pie2div {
width:100%;	
min-height: 200px;	
//height:700px;
padding:10px;
position:relative;
//top: 50px;
//left:-35px;
top: 0px;
left:0px;
}

#timelinediv {
clear: both;
//width: 960px;
//min-width: 960px;
min-width: 1120px;
//width: 100%;
font-size: 11px;
background-color:#ddd;	
}

#logobox {
position:absolute;
//bottom: 10px;
//left: 20px;
top: 10px;
right: 10px;	
}

.title {
  font-size: 80px;
  font-family:"Helvetica Neue";
  fill:darkgreen;
  text-shadow: white 2px 2px;
}

.title1 {
	font-size:20px;	
	display:block;
	background:white;
  opacity:0.7;
  border-radius:10px;
  padding:5px;
}

.country {
  /*fill: #ddd;*/	
  //stroke: white;
  stroke: #eee;
  stroke-width:.5;
  z-index: -1;
}

.over {
  opacity:0.8;
  transition: opacity 500ms linear, stroke-width 500ms linear;
  stroke-width:1px;
}

.country-label {
  fill: #000;
  fill-opacity: .5;
  font-size: 10px;
  font-weight: 300;
  text-anchor: middle;
  font-family: Arial, Helvetica, sans-serif;
}

.city-label {
  fill: #000;
  fill-opacity: .7;
  font-size: 8px;
  font-weight: 300;
  text-anchor: middle;
  font-family: Arial, Helvetica, sans-serif;
  display:none;
  pointer-events: none;         
}

.suntext {
font-size: 10px;
font-family:Arial, Helvetica, sans-serif;	
font-weight: bold;
color: #666;
}



/*
.city {
  //pointer-events: none;         
  fill-opacity: .7;
  //stroke: #000;
  //stroke-width: 1px;
  //display:none;
  z-index: 10;
}



.city.active {
  display:block;
}

.city.capital {
  pointer-events: none;         
  fill-opacity: .5;
  display:block;
}
*/

.city-label.active {
  display:block;
}

.cityprofile {   
  position: absolute;           
  width: 700px; 
  min-height: 300px;                                  
  padding: 5px;             
  font: 14px sans-serif;        
  background: #eee;   
  border: 0px;      
  border-radius: 5px;           
  //pointer-events: none;         
  border: 1px solid rgba(0,0,0,.2);
  z-index: 10000;

  transition: opacity 500ms linear;
  -moz-transition: opacity 500ms linear;
  -webkit-transition: opacity 500ms linear;

  transition-delay: 500ms;
  -moz-transition-delay: 500ms;
  -webkit-transition-delay: 500ms;

  -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
  box-shadow: 0 5px 10px rgba(0,0,0,.2);

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  //user-select: none;
}


.tooltip {   
  position: absolute;           
  //width: 150px;                                   
  padding: 5px;             
  font: 14px sans-serif;        
  background: #eee;   
  border: 0px;      
  border-radius: 5px;           
  pointer-events: none;         
  border: 1px solid rgba(0,0,0,.2);
  z-index: 10000;

  transition: opacity 500ms linear;
  -moz-transition: opacity 500ms linear;
  -webkit-transition: opacity 500ms linear;

  transition-delay: 500ms;
  -moz-transition-delay: 500ms;
  -webkit-transition-delay: 500ms;

  -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
  box-shadow: 0 5px 10px rgba(0,0,0,.2);

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.tooltip h2 {
margin:0;
padding:2px 10px;
background:white;
border-radius: 5px;           
  text-align: center;           
}

.tooltip ul {
  padding:0;
  margin:0;
}

.tooltip li {
  padding:0 0 0 5px;
  margin:0 0 0 5px;
}

.tooltip .body {
  padding:2px 10px;
}

.map {
  background:#EBF4FA;
  z-index = -1;
}

.ocean {
  fill:#EBF4FA;
  //fill:#000;
}

.flows {
fill: none;	
}

// timeline

svg {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.brush .extent {
  //stroke: #fff;
  fill:#f40;
  fill-opacity: .5;
  shape-rendering: crispEdges;
}

