@charset "utf-8";
/* CSS Document */

#mapdiv {
position: relative;
float:left;	
width: 960px;
}

#piediv {
position: absolute;
top:80px;
left:720px;
aafloat:left;	
width: 280px;
height:700px;
aabackground-color: #eee;
}

#pie1div {
width:100%;
min-height: 200px;	
padding:10px;
opacity:0.7;
}

#pie2div {
width:100%;	
min-height: 200px;	
padding:10px;
position:relative;
left:-30px;
}

#timelinediv {
clear: both;
width: 100%;
font-size: 11px;
background-color:#eee;	
}

.title {
  font-size: 80px;
  font-family:"Helvetica Neue";
  fill:darkgreen;
  text-shadow: white 2px 2px;
}


.country {
  /*fill: #ddd;*/	
  stroke: white;
  stroke-width:0;
}

.over {
  opacity:0.8;
  transition: opacity 500ms linear, stroke-width 500ms linear;
  stroke-width:1px;
}

.country-label {
  fill: #000;
  fill-opacity: .5;
  font-size: 10px;
  font-weight: 300;
  text-anchor: middle;
  font-family: Arial, Helvetica, sans-serif;
}

.city-label {
  fill: #000;
  fill-opacity: .7;
  font-size: 8px;
  font-weight: 300;
  text-anchor: middle;
  font-family: Arial, Helvetica, sans-serif;
  display:none;
  pointer-events: none;         
}

.city {
  pointer-events: none;         
  fill-opacity: .7;
  //stroke: #000;
  //stroke-width: 1px;
  display:none;
}

.city.active {
  display:block;
}

.city.capital {
  pointer-events: none;         
  fill-opacity: .5;
  display:block;
}

.city-label.active {
  display:block;
}


.tooltip {   
  position: absolute;           
  width: 150px;                                   
  padding: 2px;             
  font: 12px sans-serif;        
  background: #eee;   
  border: 0px;      
  border-radius: 5px;           
  pointer-events: none;         
  border: 1px solid rgba(0,0,0,.2);
  z-index: 10000;

  transition: opacity 500ms linear;
  -moz-transition: opacity 500ms linear;
  -webkit-transition: opacity 500ms linear;

  transition-delay: 500ms;
  -moz-transition-delay: 500ms;
  -webkit-transition-delay: 500ms;

  -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
  box-shadow: 0 5px 10px rgba(0,0,0,.2);

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.tooltip h2 {
margin:0;
padding:2px 10px;
background:white;
border-radius: 5px;           
  text-align: center;           
}

.tooltip ul {
  padding:0;
  margin:0;
}

.tooltip li {
  padding:0 0 0 5px;
  margin:0 0 0 5px;
}

.tooltip .body {
  padding:2px 10px;
}

.map {
  background:#EBF4FA;
}

.ocean {
  fill:#EBF4FA;
}

.flows {
fill: none;	
}

// timeline

svg {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

